<!DOCTYPE html>
<html>
<head>
    <title>Juegos - {{ age_group }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/games.css') }}">

</head>
<body>
    <div class="container">
        <h2 class="header-title">Juegos para {{ age_group }}</h2>
        <div class="row">
            {% for game in games %}
            <div class="col-md-4">
                <div class="game-card">
                    <h5>{{ game.title }}</h5>
                    <p class="game-description">{{ game.description }}</p>
                    <a href="/play_game/{{ game.id }}" class="btn btn-primary">Jugar</a>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="logout-btn">
            <a href="/logout" class="btn btn-danger">Logout</a>
        </div>
    </div>
</body>
</html>