{% extends "base.html" %}

{% block title %}Juegos - {{ age_group }}{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center my-4">Juegos para {{ age_group }}</h1>
    <div class="row">
        {% for game in games %}
        <div class="col-md-4">
            <div class="card shadow-sm mb-4">
                <div class="card-body">
                    <h5 class="card-title">{{ game.title }}</h5>
                    <p class="card-text">{{ game.description }}</p>
                    <a href="{{ url_for('play_game', game_id=game.id) }}" class="btn btn-primary w-100">Jugar</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}