<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/student_dashboard.css') }}">
    
</head>
<body>
    <div class="container">
        <h2 class="header-title mb-4">Bienvenido a tu tablero de juegos!</h2>
        <p class="sub-title">Selecciona tu grupo de edad para comenzar a jugar:</p>
        <div class="left-panel">
            <a href="/games/7-8" class="btn btn-primary age-group-btn">
                <img src="{{ url_for('static', filename='images/7-8.png') }}" alt="7-8 Years">
                <p>7-8 Years</p>
            </a>
            <a href="/games/9-10" class="btn btn-primary age-group-btn">
                <img src="{{ url_for('static', filename='images/9-10.png') }}" alt="9-10 Years">
                <p>9-10 Years</p>
            </a>
            <a href="/games/11-12" class="btn btn-primary age-group-btn">
                <img src="{{ url_for('static', filename='images/11-12.png') }}" alt="11-12 Years">
                <p>11-12 Years</p>
            </a>
            <div class="logout-btn">
                <a href="/logout" class="btn btn-danger">Logout</a>
            </div>
        </div>
        <div class="image-container">
            <img src="{{ url_for('static', filename='images/game-image.png') }}" alt="Game Image">
        </div>
    </div>
</body>
</html>